<ion-view view-title='<img class="logoEncabezado" src="img/logo2.png"/> Cumplimiento'>
    <ion-content>
        <div>
        <div ng-repeat="cumplimiento in listaCumplimientos | orderBy:'-cumplimientoField.fechaInicioPeriodoVerificacionField' | limitTo:3">
          <ion-item class="item-stable" ng-click="toggleGroup(cumplimiento)" ng-class="{active: isGroupShown(cumplimiento)}" style="background-color: #fff;">
              <div class="row">
                <div class="col col-10">
                    <img ng-src="img/profile.png" style="width:75%;">
                </div>
                <div class="col col-80">
                    <p><strong>Cumplimiento Salud</strong></p>
                    <p class='gray-light-2'>{{cumplimiento.cumplimientoField.fechaInicioPeriodoVerificacionField | date:"dd/MM/yyyy"}}</p>
                    <p><strong>Cumplimientos Educación</strong></p>
                    <p class='gray-light-2'>{{cumplimiento.cumplimientoField.fechaFinPeriodoVerificacionField | date:"dd/MM/yyyy"}}</p>
                </div>
                <div class="col col-10">
                    <i class="icon" ng-class="isGroupShown(cumplimiento) ? 'ion-minus-circled' : 'ion-plus-circled'" style="color:#3E97CF"></i>
                </div>
              </div>   
          </ion-item>
          <ion-item class="item-accordion item-accordion-button" ng-show="isGroupShown(cumplimiento)" style="padding-left:15%;margin-top:0px;padding-top:0px;">
            <p style="font-size: 70%;">{{cumplimiento.datosBaseField.primerNombreField}} {{cumplimiento.datosBaseField.segundoNombreField}} {{cumplimiento.datosBaseField.primerApellidoField}} {{cumplimiento.datosBaseField.segundoApellidoField}}</p>
            <!--<p>Tipo de Inscripción</p>-->
            <p>Cumplió: {{cumplimiento.cumplimientoField.cumplioField}}</p>
            <!--<p>Fecha de Cumplimiento</p>-->
          </ion-item>
        </div>
      </div>
    </ion-content>
</ion-view>