<ion-view view-title='<img class="logoEncabezado" src="img/logo2.png"/> Datos Familiares'>
    <ion-content> 
        <div>
            <div class="item item-avatar">
                <img ng-src="img/users.png">
                <h4>{{hojavida_MFA.Persona.estadoFamiliaField}}</h4>
                <h4>{{hojavida_MFA.Persona.primerNombreField}} {{hojavida_MFA.Persona.segundoNombreField}} {{hojavida_MFA.Persona.primerApellidoField}} {{hojavida_MFA.Persona.segundoApellidoField}}</h4>
                <h4>{{hojavida_MFA.Persona.estadoBeneficiarioField}}</h4>
            </div>
            <div ng-repeat="miembro in nucleo_familiar">
                <ion-item class="item-stable" ng-click="toggleGroup(miembro)" ng-class="{active: isGroupShown(miembro)}" style="background-color: #fff;">
                    <div class="row" >
                        <div class="col col-10">
                            <img ng-src="img/profile.png" style="width:100%;">
                        </div>
                        <div class="col col-80 text-center" style="padding-top:0px;">
                            <p style="font-size:80%">{{miembro.primerNombreField}} {{miembro.segundoNombreField}} {{miembro.primerApellidoField}} {{miembro.segundoApellidoField}} </p>                            
                        </div>
                        <div class="col col-10">
                            <i class="icon" ng-class="isGroupShown(miembro) ? 'ion-minus-circled' : 'ion-plus-circled'" style="color:#3E97CF;"></i>
                        </div>
                    </div>    
                </ion-item>
                <ion-item class="item-accordion item-accordion-button" ng-show="isGroupShown(miembro)" style="padding-left:70px;margin-top:-25px;padding-top:0px;">
                    <p><strong>{{_tipoDocumento(miembro.tipoDocumentoField)}}</strong></p>
                    <p>{{miembro.numeroDocumentoField}}</p>
                    <p ng-show="miembro.parentescoField != null"><strong>Parentesco: </strong>{{miembro.parentescoField}}</p>
                    <p ng-show="miembro.Colegio != null"><strong>Colegio</strong></p>
                    <p>{{miembro.Colegio}}</p>
                    <p ng-show="miembro.Grado != null"><strong>Grado: </strong> {{_getGrado(miembro.Grado)}}</p>
                    <p>{{miembro.Graduado}}</p>
                    <p>{{miembro.priorizadoField}}</p>
                </ion-item>
            </div>   
            <div class="row" ng-show="nucleo_familiar_completo.length > 5">
                <div class="col col-30 text-right">
                    <a class="button icon-left ion-chevron-left button-clear button-dark" style="color:#3E97CF;font-size:90%;" ng-click="_verAnterior()" ng-hide="indexActual-canItems+1==0">Anteriores</a>
                </div>
                <div class="col col-40 text-center">
                    <a class="button button-clear button-dark" ng-click="_prueba()" style="color:#3E97CF;font-size:90%;">{{inicio}} ... {{fin}}</a>
                </div>
                <div class="col col-30 text-left">
                   <a class="button icon-right ion-chevron-right button-clear button-dark" style="color:#3E97CF;font-size:90%;" ng-click="_verSiguientes()" ng-hide="indexActual-fal+1==nucleo_familiar_completo.length">Siguientes</a>
                </div>
            </div>  
        </div>     
    </ion-content>
</ion-view>	