<ion-view view-title='<img class="logoEncabezado" src="img/logo2.png"/> En qué estoy Inscrito?'>
    <ion-content>        
	    <div class="card text-center">
	        <div class="item item-text-wrap" style="text-align:justify">
	  	        <p style="color:#F29400;">Se&ntildeor Usuario: por favor seleccione los datos que correspondan a su informaci&oacuten personal y haga clic en consultar.</p>
	        </div>
	    </div>
      <div class="list">  
        <span class="input-label" style="width:100%">Tipo de Documento</span>
        <label class="item item-select">
            <select ng-model="usuario.tipoDocumento">
                <option value="">Selecione</option>
                <option value="TI">Tarjeta de Identidad</option>
                <option value="CC">Cédula de Ciudadania</option>
                <option value="CE">Cédula de Extranjería</option>
            </select>
        </label>
        <label class="item item-input item-stacked-label">
                <span class="input-label">Número de Documento</span>
                <input type="number" placeholder="" ng-model="usuario.documento">
        </label> 
        <h6 class="assertive" ng-hide="{{ocultoMensaje}}">{{mensajeError}}</h6>
        <button class="button button-block button-positive" ng-click="validarDocumento()">Consultar</button>
        <br>
        <ion-spinner class="spinner" ng-show="ocultoLoader"></ion-spinner>
    </div>
    </ion-content>
</ion-view>	

