<ion-view view-title='<img class="logoEncabezado" src="img/logo2.png"/> A qué soy Potencial?'>
    <ion-content>
        <div class="card text-center">
	        <div class="item item-text-wrap" style="text-align:justify">
	  	        <div class="row">
                    <img ng-src="img/mas_familias_accion.jpg" style="width:100%;height:250px;padding:30px;">
                </div>
	        </div>
	    </div>
        <div class="row">
            <label style="margin-left:10px;margin-right:10px;font-size:20px;">Programa Más Familias en Acción</label>
        </div>
        <br />
        <div class="row">
            <p style="text-align:justify; color:#C0C0C0;margin-left:10px;margin-right:10px;">
                Programa Más Familias en Acción: Si usted pertenece a la población desplazada acérquese a la oficina del Enlace Municipal y tramite su inscripción, si no espere la convocatoria a las inscripciones.
            </p>
        </div>
    </ion-content>
</ion-view>	