<ion-view view-title='<img class="logoEncabezado" src="img/logo2.png"/> Liquidación y Pagos'>
    <ion-content>
        <div>
        <div ng-repeat="liquidacion in liquidaciones | limitTo:3">
          <ion-item class="item-stable" ng-click="toggleGroup(liquidacion)" ng-class="{active: isGroupShown(liquidacion)}" style="background-color: #fff;">
              <div class="row">
                <div class="col col-10">
                    <img ng-src="img/profile.png" style="width:75%;">
                </div>
                <div class="col col-80">
                    <p>{{liquidacion.datosBaseField.primerNombreField|capitalize}} {{liquidacion.datosBaseField.segundoNombreField|capitalize}} {{liquidacion.datosBaseField.primerApellidoField|capitalize}} {{liquidacion.datosBaseField.segundoApellidoField|capitalize}}</p>
                    <p><strong>Valor: </strong> {{liquidacion.cicloBeneficioField.valorCicloField | currency:"$":0}}</p>
                    <p><strong>Entrega: </strong> {{liquidacion.cicloBeneficioField.formaEntregaIncentivoField|capitalize}}</p>
                    <p><strong>Modalidad: </strong>@@</p>
                    <p><strong>Cuenta: </strong> {{liquidacion.cicloBeneficioField.numeroCuentaField}}</p>
                    <p><strong>Cobrado: </strong>@@</p>
                </div>
                <div class="col col-10">
                    <i class="icon" ng-class="isGroupShown(liquidacion) ? 'ion-minus-circled' : 'ion-plus-circled'" style="color:#F29400;"></i>
                </div>
              </div>   
          </ion-item>
          <ion-item class="item-accordion item-accordion-button" ng-show="isGroupShown(liquidacion)" style="padding-left:60px;margin-top:0px;padding-top:0px;">
            <p><strong>Tipo de movimiento: </strong> {{liquidacion.cicloBeneficioField.tipoMovimientoLiquidacionField |lowercase|capitalize}}</p>
            <p><strong>Valor: </strong> {{liquidacion.cicloBeneficioField.valorCicloField | currency:"$":0}}</p>
          </ion-item>
        </div>
      </div>
    </ion-content>
</ion-view>