<ion-view view-title='<img class="logoEncabezado" src="img/logo2.png"/> Novedades'>
    <ion-content>
        <div class="item item-avatar">
            <img ng-src="img/profile.png">
            <h2 style="color:#f29400">Miembro de la Familia</h2>
            <p>Categoría Novedad</p>
            <p>Aplicado</p>
            <p>Fecha de Aplicación</p>
        </div>
        <div class="item item-avatar">
            <img ng-src="img/profile.png">
            <h2 style="color:#f29400">Miembro 2 de la Familia</h2>
            <p>Categoría Novedad</p>
            <p>Aplicado</p>
            <p>Fecha de Aplicación</p>
        </div>
        <div class="item item-avatar">
            <img ng-src="img/profile.png">
            <h2 style="color:#f29400">Miembro 3 de la Familia</h2>
            <p>Categoría Novedad</p>
            <p>Aplicado</p>
            <p>Fecha de Aplicación</p>
        </div>      
    </ion-content>
</ion-view>	