<ion-view view-title='<img class="logoEncabezado" src="img/logo2.png"/> En qué estoy Inscrito?'>
    <ion-content>
        <div class="card text-center">
            <div class="item item-text-wrap" style="text-align:justify">
                <p style="color:#F29400;">Se&ntildeor Usuario: por favor seleccione la respuesta que corresponde a su informaci&oacuten personal y haga click en CONSULTAR.</p>
	        </div>
        </div>
        <div class="list">
            <span class="input-label" style="width:100%">Su fecha de Nacimiento ?</span>        
            <ion-checkbox ng-model="isChecked">11/12/1989</ion-checkbox>
            <ion-checkbox ng-model="isChecked">15/02/1970</ion-checkbox>
            <ion-checkbox ng-model="isChecked">20/01/1995</ion-checkbox>   
            <div class="text-center" style="margin-top:20px;">
                <a class="button button-block button-positive" href="#/app/programas_inscritos">
                    <p class="text-button-large">Consultar</p> 
                </a>
            </div>
        </div>        
    </ion-content>
</ion-view>	