<ion-view view-title='<img class="logoEncabezado" src="img/logo2.png"/> En qué estoy Inscrito?'>
    <ion-content>
        <div class="item item-avatar">
            <img ng-src="img/profile.png">
            <h2 style="margin-top:10px;">{{persona.tip_ide}} {{persona.ide}}</h2>
        </div> 
        <br>
        <div class="item item-avatar borde-item item-programa" ng-repeat="programa in lProgramasInscritos.Programas">
            <img ng-src="{{programa.img}}">            
            <h2>{{programa.programaField.programa1Field}}</h2>
            <p>{{programa.programaField.nombreCortoProgramaField}}</p>
            <a class="button button-clear button-small link" ng-click="_irDetallesPrograma(programa)" style="color:#F29400;">VER DETALLE</a>
        </div>
        <h5 class="assertive text-center" ng-show="ocultoMensaje">No te encuentras inscrito en ningún programa</h5>
        <ion-spinner class="spinner" ng-show="ocultoLoader"></ion-spinner>
    </ion-content>
</ion-view>	