<ion-view view-title='<img class="logoEncabezado" src="img/logo2.png"/> En qué estoy Inscrito?'>
    <ion-content>
        <div class="item item-avatar">
            <img ng-src="img/profile.png">
            <h2>CC 10000000</h2>
            <p>Pedro Gomez Bernal</p>
        </div> 
        <br>
        <div class="item item-avatar borde-item item-programa">
            <img ng-src="img/familias-en-accion.png">
            <h2>Familias en Acción</h2>
            <p>Texto de Programa</p>
            <a class="button button-clear button-small link" href="#/app/menu-familias-en-accion" style="color:#F29400;">VER DETALLE</a>
        </div>
        <div class="item item-avatar borde-item item-programa">
            <img ng-src="img/jovenes-en-accion.png">
            <h2>Jovenes en Acción</h2>
            <p>Texto de Programa</p>
            <a class="button button-clear button-small link" href="#" style="color:#F29400;">VER DETALLE</a>
        </div>      
    </ion-content>
</ion-view>	