<ion-view view-title='<img class="logoEncabezado" src="img/logo2.png"/> A qué soy Potencial?'>
    <ion-content>
        <div class="card text-center">
            <div class="item item-text-wrap" style="text-align:justify">
                <p style="color:#F29400;">Señor Usuario: por favor seleccione la respuesta que corresponde a su informaci&oacuten personal y haga click en Continuar.</p>
	        </div>
        </div>
        <div class="list">                        
            <ion-checkbox>
                <p>R.C. 107397846</p>
                <p style="color:#C0C0C0;">ANGELICA MARIA POLO ISIDRO</p>
            </ion-checkbox>
            <ion-checkbox>
                <p>R.C. 107397846</p>
                <p style="color:#C0C0C0;">EMIRA ESTHER HOYOS PASTRANA</p>
            </ion-checkbox>
            <div class="text-center" style="margin-top:20px;">
                <a class="button button-block button-positive" href="#/app/programas_potencial">
                    <p class="text-button-large">Continuar</p> 
                </a>
            </div>
            <ion-spinner class="spinner" ng-show="ocultarLoader"></ion-spinner>
        </div>        
    </ion-content>
</ion-view>	